<table class="tabela">
  <thead class="cabecalho">
    <th class="cabecalho-conteudo">Data</th>
    <th class="cabecalho-conteudo">Valor</th>
    <th class="cabecalho-conteudo">Destino</th>
  </thead>
  <tbody>
    <tr class="linha" *ngFor="let transferencia of transferencias">
      <td class="conteudo">{{transferencia?.data | date: "shortDate"}}</td>
      <td class="conteudo">{{transferencia?.valor | currency}}</td>
      <td class="conteudo">{{transferencia?.destino}}</td>
    </tr>
  </tbody>
</table>

